@colorDark : #96201d;
@colorMid: #b1211e;
@colorLight: #d13532;


/* 8 bit font */
@font-face
{
  font-family: eightbit;
  src: url("../fonts/8-bit-wonder.ttf");
}

/* ------- mixins */
.radius(@radius : 3px) {
  -webkit-border-radius: @radius;
          border-radius: @radius;
}

body {
  font-family: eightbit, "sans-serif";
  background: #bde6f7 url("../img/bg.png") bottom center repeat-x;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#container {
  overflow: hidden;
  font-family: eightbit, "sans-serif";
  background: url("../img/see.png") bottom center repeat-x;
  height: 100%;
  width: 100%;
}

/* ------- logo */
#logo {
  min-height: 40px;
  margin: 20px auto 30px;
  color: #333;
  width: 80%;
  max-width: 400px;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }

  .hidden-img{
    display: none;
  }
}

/* ------- UI components */
button {
  font-family: eightbit, "sans-serif";
  background-color: @colorLight;
  color: #fff;
  border: none;
  .radius();
  width: 80%;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  margin: 20px 0;
  box-shadow: 3px 3px 0 @colorDark;
  cursor: pointer;
  &:hover {
    background-color: @colorMid;
    box-shadow: 1px 1px 0 @colorDark;
  }
}
#login-button {
  margin-top: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
}

/* -------- screen container */
.hidden-screen {
  display: none !important;
}

/* leader boards */
h1 {
  font-size: 18px;
  color: #333
}

h2 {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  background-color: @colorLight;
  padding: 12px;
  &:hover {
    background-color: @colorMid;
  }
}

ul {
  text-align: left;
  padding: 0;
  margin: 8px 0 16px;
  list-style-type: none;
  overflow: hidden;

  -webkit-transition: height .2s;
          transition: height .2s;

  height: 138px;
  &.hidden-list {
    height: 0;
    margin: 0;
  }
}

li {
  padding-bottom: 4px;
  margin: 0 5% 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: #333;
}
li span{
  display: inline-block;
  &.name {
    width: 80%;
  }
  &.score {
    width: 20%;
  }
}
