/* 8 bit font */
@font-face
{
  font-family: eightbit;
  src: url("../fonts/8-bit-wonder.ttf");
}

/* ------- mixins */
.radius(@radius : 3px) {
  -webkit-border-radius: @radius;
          border-radius: @radius;
}

body {
  font-family: eightbit, "sans-serif";
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#container {
  overflow: hidden;
  font-family: eightbit, "sans-serif";
  background: url("../img/see.png") bottom center repeat-x;
  height: 100%;
  width: 100%;
}

/* ------- logo */
#logo {
  min-height: 40px;
  margin: 20px 0 30px;
  background: #999;
  color: #333;
  cursor: pointer;
}

/* ------- UI components */
button {
  font-family: eightbit, "sans-serif";
  background-color: #920;
  color: #fff;
  border: none;
  .radius();
  width: 80%;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  margin: 20px 0;
  box-shadow: 3px 3px 0 #5d1804;
  cursor: pointer;
  &:hover {
    background-color: #a80303;
    box-shadow: 1px 1px 0 #5d1804;
  }
}
#login-button {
  font-size: 24px;
}

/* -------- screen container */
.hidden-screen {
  display: none !important;
}

/* leader boards */
h1 {
  font-size: 18px;
  color: #333
}

h2 {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  background-color: #920;
  padding: 12px;
  &:hover {
    background-color: #a80303;
  }
}

ul {
  text-align: left;
  padding: 0;
  margin: 8px 0 16px;
  list-style-type: none;
  overflow: hidden;

  -webkit-transition: height .2s;
          transition: height .2s;

  height: 138px;
  &.hidden-list {
    height: 0;
    margin: 0;
  }
}

li {
  padding-bottom: 4px;
  margin: 0 5% 4px;
  border-bottom: 2px solid #333;
  color: #333;
}
li span{
  display: inline-block;
  &:first-child {
    width: 80%;
  }
  &:last-child {
    width: 20%;
  }
}
