@font-face{font-family:eightbit;src:url("../fonts/8-bit-wonder.ttf");}body{font-family:eightbit,"sans-serif";text-align:center;}
#container{width:320px;height:480px;overflow:hidden;font-family:eightbit,"sans-serif";background:#eee;}
#logo{min-height:40px;margin:20px 0 30px;background:#999;color:#333;cursor:pointer;}
button{font-family:eightbit,"sans-serif";background-color:#920;color:#fff;border:none;-webkit-border-radius:3px;border-radius:3px;width:80%;height:60px;font-size:14px;line-height:60px;margin:20px 0;box-shadow:3px 3px 0 #5d1804;cursor:pointer;}button:hover{background-color:#a80303;box-shadow:1px 1px 0 #5d1804;}
#login-button{font-size:24px;}
.hidden-screen{display:none !important;}
h1{font-size:18px;color:#333333;}
h2{color:#fff;font-size:14px;cursor:pointer;background-color:#920;padding:12px;}h2:hover{background-color:#a80303;}
ul{text-align:left;padding:0;margin:8px 0 16px;list-style-type:none;overflow:hidden;-webkit-transition:height .2s;transition:height .2s;height:138px;}ul.hidden-list{height:0;margin:0;}
li{padding-bottom:4px;margin:0 5% 4px;border-bottom:2px solid #333;color:#333;}
li span{display:inline-block;}li span:first-child{width:80%;}
li span:last-child{width:20%;}
