<html>
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./css/css.css" />
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" />

	<script type="text/javascript" src="./js/libs/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="./js/ready.js"></script>

</head>
<body>
  <div id="container">
    <div id="logo"><img src="./img/logo.png" alt="Viking Bros." /></div>
    <div id="screen-container">
      <div class="screen" id="login-screen">
          <button id="login-button" class="wait">Loading ...</button>
      </div>
      <div class="screen hidden-screen" id="menu-screen">
          <button id="play-button">Play</button>
          <button id="lb-button">LeaderBoard</button>
          <button id="credit-button">Convert Credit</button>

      </div>
      <div class="screen hidden-screen" id="game-screen">
      </div>
      <div class="screen hidden-screen" id="leaderboard-screen">
        <div>
          <h2>Best Distance</h2>
          <ul class="lb-list" id="best-ul">
            <li><span>A lost viking</span><span>100</span></li>
            <li><span>bill Bond</span><span>88</span></li>
            <li><span>Billie</span><span>74</span></li>
            <li><span>The Swimmer</span><span>34</span></li>
            <li><span>James Bond</span><span>9</span></li>
          </ul>
          <h2>Total Distance</h2>
          <ul class="lb-list hidden-list" id="total-ul">
            <li><span>The Swimmer</span><span>3456</span></li>
            <li><span>James Bond</span><span>2875</span></li>
            <li><span>A lost viking</span><span>2543</span></li>
            <li><span>Billie</span><span>1934</span></li>
            <li><span>bill Bond</span><span>1754</span></li>
          </ul>
          <h2>Total Gold</h2>
          <ul class="lb-list hidden-list" id="gold-ul">
            <li><span>Billie</span><span>230</span></li>
            <li><span>The Swimmer</span><span>212</span></li>
            <li><span>A lost viking</span><span>187</span></li>
            <li><span>bill Bond</span><span>88</span></li>
            <li><span>James Bond</span><span>9</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
