<html>
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./css/css.css" />
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" />

	<script type="text/javascript" src="./js/libs/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="./js/ready.js"></script>

</head>
<body>
  <menu id="main-menu">
    <div class="top">
      <div class="year-c">Year <span class="year">-</span></div>
      <div class="next-turn-c">
        <a id="next-turn" class="board-action" href="#nextTurn">Next Year</a>
      </div>
      <div class="event-c">
        <p>lorem ipsum dolor sit amet blzvsd dshsdds jqsdp qsdj qsdhqsd qsjd qsdjqsdnq sdqsd qsdj </p>
      </div>
    </div>
    <div class="details left">
      <div class="resources">
        <p class="res-a"><span><i class="fa fa-crosshairs"></i></span><span class="nbr">-</span></p>
        <p class="res-d"><span><i class="fa fa-shield"></i></span><span class="nbr">-</span></p>
        <p class="res-m"><span><i class="fa fa-usd"></i></span><span class="nbr">-</span></p>
        <p class="res-s"><span><i class="fa fa-flash"></i></span><span class="nbr">-</span></p>
        <p class="res-p"><span><i class="fa fa-suitcase"></i></span><span class="nbr">-</span></p>
        <p class="res-f"><span><i class="fa fa-cutlery"></i></span><span class="nbr">-</span></p>
      </div>
      <div class="size">
        <p>Level : <span> - </span></p>
      </div>
      <div class="owner">
        <p>Owner : <span> - </span></p>
      </div>
      <div class="misc">
        <p>--</p>
      </div>
      <div class="buttons function-button-container" >
        <button name="invade" class="invade next-turn" type="button" value="invadeCurrentPlanet">Invade</button>
        <button name="ChooseStrongResource" class="choose-strong-resource" type="button" value="openResourceChoise">Choose Color</button>
      </div>
    </div>
  </menu>
  <div id="board-scroll">
  <div id="main-container">
    <!-- starts cells container -->
    	<div id="cells-container">
        <div class="inner">
        </div>
    	</div>
  <!-- end cells container -->
  </div>
  </div>

  <div id="objects-lib" class="hidden">
    <!-- base hex obj -->
    <div class="hex-c">

      <div class="umap">
        <div class="links">
          <div class="link link-1"></div>
          <div class="link link-2"></div>
          <div class="link link-3"></div>
          <div class="link link-4"></div>
          <div class="link link-5"></div>
          <div class="link link-6"></div>
        </div>
        <div class="planet"></div>
      </div>

      <div class="hex">
        <div class="in1">
          <div class="in2">
          </div>
        </div>
      </div>

    </div>
    <!-- base emty row obejct ( contain hexs ) -->
    <div class="row"></div>
    <!-- random events text | selected by nth-child in js so keep the order-->
    <div class="random-event-texts">
      <p>Random Event 1<p>
      <p>Random Event 2<p>
      <p>Random Event 3<p>
      <p>Random Event 4<p>
      <p>Random Event 5<p>
      <p>Random Event 6<p>
      <p>Random Event 7<p>
      <p>Random Event 8<p>
      <p>Random Event 9<p>
      <p>Random Event 10<p>
    </div>
    <!-- end of objects library -->
  </div>

  <!-- modals -->
  <div class="modal" id="choose-strong-resource-modal">
    <div class="modal-inner">
      <p>Choose the strong resource for this planet</p>
      <div class="function-button-container">
        <button name="res-a" class="a-choise next-turn" type="button" value="chooseStrongResource:a">Ataque</button>
        <button name="res-d" class="d-choise next-turn" type="button" value="chooseStrongResource:d">Defence</button>
        <button name="res-m" class="m-choise next-turn" type="button" value="chooseStrongResource:m">Money</button>
        <button name="res-s" class="s-choise next-turn" type="button" value="chooseStrongResource:s">Science</button>
        <button name="res-p" class="p-choise next-turn" type="button" value="chooseStrongResource:p">Politic</button>
        <button name="res-f" class="f-choise next-turn" type="button" value="chooseStrongResource:f">Food</button>
      </div>
    </div>
  </div>
  <div id="modal-shadow"></div>
</body>
</html>
