<html>
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./css/css.css" />
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" />

	<script type="text/javascript" src="./js/libs/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="./js/ready.js"></script>

</head>
<body>
  <div id="container">
    <div id="logo">logo</div>
    <div id="screen-container">
      <div class="screen" id="login-screen">
          <button id="login-button" class="wait">Login</button>
      </div>
      <div class="screen hidden-screen" id="menu-screen">
          <button id="play-button">Play</button>
          <button id="lb-button">LeaderBoard</button>
          <button id="credit-button">Convert Credit</button>

      </div>
      <div class="screen hidden-screen" id="game-screen">

      </div>
      <div class="screen hidden-screen" id="leaderboard-screen">

      </div>
    </div>
  </div>
</body>
</html>
